
{% if active_server is defined %}
server: https://{{ rke2_api_ip }}:9345
{% endif %}
token: {{ rke2_token }}
{% if inventory_hostname in groups[rke2_servers_group_name] %}
cni: {{ rke2_cni }}
{% if rke2_server_taint %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{% endif %}
tls-san:
  - cluster.local
  - {{ rke2_api_ip }}
{% for san in rke2_additional_sans %}
  - {{ san }}
{% endfor %}
{% endif %}
{% if rke2_disable and ( inventory_hostname|string() in groups[rke2_servers_group_name] ) %}
disable: {{ rke2_disable }}
{% endif %}
{% if rke2_kube_apiserver_args is defined and inventory_hostname in groups[rke2_servers_group_name] %}
kube-apiserver-arg: {{ rke2_kube_apiserver_args}}
{% endif %}
{% if ( k8s_node_label is defined ) %}
node-label:
{% for label in k8s_node_label %}
  - {{ label }}
{% endfor %}
{% endif %}
snapshotter: {{ rke2_snapshooter }}
node-name: {{ inventory_hostname }}
{# Define Node IP adresses explicitly #}
{% if node_ips is not none %}
node-ip: "{{ node_ips }}"
{% endif %}
{# Define Node external IP adresses explicitly #}
{% if node_external_ips is not none %}
node-external-ip: "{{ node_external_ips }}"
{% endif %}
{% if rke2_server_options is defined and inventory_hostname in groups[rke2_servers_group_name] %}
{% for option in rke2_server_options %}
{{ option }}
{% endfor %}
{% endif %}
{% if rke2_agent_options is defined and inventory_hostname in groups[rke2_agents_group_name] %}
{% for option in rke2_agent_options %}
{{ option }}
{% endfor %}
{% endif %}
